@model WebApplication1.Models.Adviewmodel
@{
    ViewBag.Title = "ViewAd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    td {
        padding: 20px;
    }

    #title {
        text-align: center;
    }

    #picture {
        text-align: center;
    }


    table {
        margin-top: 50px;
    }

    .top{
        margin-bottom:10px;
        margin-top:50px;
        text-align:center;
    }

    .font-weight-bold{
        font-weight:bold;
    }

    

   .btn a{
       color:white;
       text-decoration:none;
   }
</style>




<div class="container">
    <div class="col-lg-4 col-md-4">
        <div id="title">
            <h1>@Model.pro_name </h1>
        </div>
        <div id="picture">
            <img class="img-thumbnail" src="@Url.Content(@Model.pro_image)" style="width:100px" />
        </div>
    </div>

    <div class="col-lg-8 col-md-8">
        <table class="table table-striped">
            <tr> <td class="font-weight-bold">Description: </td> <td>@Model.pro_des </td> </tr>
            <tr> <td class="font-weight-bold">Price: </td> <td>@Model.pro_price </td> </tr>
            <tr> <td class="font-weight-bold">Category: </td> <td>@Model.cat_name </td> </tr>
        </table>
        <div class="top">
            <button type="button" class="btn btn-info">
                @Html.ActionLink("View Comment", "ViewComment", new { @class = "btn btn-info", id = Model.pro_id })
            </button>
            <button type="button" class="btn btn-info">
                @Html.ActionLink("View Rate", "ViewRate", new { @class = "btn btn-info", id = Model.pro_id })
            </button>
            @if (Session["u_id"] != null)
            {
                <button type="button" class="btn btn-info">
                    @Html.ActionLink("Comment", "CreateComment", new { @class = "btn btn-info", id = Model.pro_id })
                </button>
            }


            @if (Session["u_id"] != null)
            {
                <button type="button" class="btn btn-info">
                    @Html.ActionLink("Rate", "CreateRate", new { @class = "btn btn-info", id = Model.pro_id })
                </button>
            }
        </div>
        </div>
       
    
       
</div>