@model WebApplication1.Models.Adviewmodel
@{
    ViewBag.Title = "ViewAd";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    td {
        padding: 20px;
    }

    #title {
        text-align: center;
    }

    #picture {
        text-align: center;
    }

    table{
        margin-top:50px;
    }
    .button {
        text-decoration: none;
        color: white;
        background-color: #e67e22;
        padding: 15px 30px;
        border-radius: 20px;
        margin: 0 5px;
        width: 220px;
        display: inline-block;
        text-align: center;
        font-size: 25px;
    }
</style>
@*<div class="row">
        <div class="col-lg-12 col-md-12">
            <img src="~/Content/img/14560020750060463280.png" class="img img-responsive" style="width:100%" />
        </div>
    </div>

    <div class="row">

        <div class="col-lg-2 col-md-2">
            <img src="~/Content/img/adlisting2.gif" class="img img-responsive" style=" height:500px;" />
        </div>*@



<div class="container">

    @*<div class="col-lg-12 col-md-12">*@

        <div class="col-lg-4 col-md-4">
            <div id="title">
                <h1>Product: @Model.pro_name @*<small>AD-ID:@Model.pro_id</small>*@</h1>
            </div>
            <div id="picture">
                <img class="img-thumbnail" src="@Url.Content(@Model.pro_image)" style="width:100px" />
            </div>
        </div>

        <div class="col-lg-8 col-md-8">
            <table class="table table-striped">
                <tr> <td>Description: </td> <td>@Model.pro_des </td> </tr>
                <tr> <td>Price: </td> <td>@Model.pro_price </td> </tr>
                <tr> <td>Category: </td> <td>@Model.cat_name </td> </tr>
                <tr> <td>Posted by: </td> <td>@Model.ad_username @*<img src="@Url.Content(@Model.u_image)" style="width:40px; height:40px" />*@ </td> </tr>
                @*<tr> <td>Contact: </td> <td>@Model.u_contact  </td> </tr>*@
                

                      



                    

            </table>
            <div class="button">  @Html.ActionLink("Close this Ad", "DeleteAd", new { @class = "btn btn-info", id = Model.pro_id })</div>
            </div>
        @*</div>*@






    </div>